# Streamly System Environment Variables
PORT=8000
JWT_SECRET_KEY=streamly-hackathon-super-secret-jwt-key-2026
MODELS_DIR=models
DB_DIR=database
DATA_PATH=data/ott_viewer_activity.csv
API_URL=http://localhost:8000
